.input {
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 2.5rem;
    width: 33rem;
    padding: 3px 3px 3px 10px;
}
.input input {
    height: 2rem;
    width: 28rem;
    background: none;
    border: none;
    outline: none;
    padding: 4px;
}

.input button {
    background: none;
    border: none;
    cursor: pointer;
}

.input button > img {
    height: 1.5rem;
    margin: 10px;
}