.desactive-mode {
    display: flex;
    justify-content: left;
    width: 2.7rem; /*112px*/ 
    height: 1rem;
    background-color:  #767676;
    border-radius: 1rem;
    padding: 3px;
}

.active-mode {
    display: flex;
    justify-content: right;
    width: 2.7rem; /*112px*/ 
    height: 1rem;
    border-radius: 1rem;
    padding: 3px;
    background-color: #a446ea;
}

.pointer{
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    transition: 3s;
}

.icon-moon {
    height: 1.5rem;
}

.btn-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 2rem;
    border-left: 1px solid #DBE5E6;
    padding-left: 10px;
}

.dark-active {
    
}