.header {
    display: flex;
    width: 35rem;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

header div > h1 {
    font-size: 1.4rem;
    color: #a644ed;
}