.word-info {
    display: flex;
    align-items: center;

    justify-content: space-between;
    padding: 20px;
}

.word-info div > h1 {
    font-size: 2rem;
}

.word-info div > h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #a644ed;
    font-weight: 200;
}