
.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1rem;
}

.dark {
    color: #ffff;
    background-color: #050505;
}

.light {
    color: #050505;
}